<footer class="font-sans cc basefont-20 rs-py-1 text-white bg-cardinal-red w-full">
  <div class="flex flex-col lg:flex-row" title="Common Stanford resources">
    <div class="text-center">
      <a class="logo hocus:no-underline text-white hocus:text-white" href="https://www.stanford.edu">Stanford<br>University</a>
    </div>
    <div class="lg:pl-45 xl:pl-50 text-left sm:text-center lg:text-left grow">
      <nav aria-label="global footer menu" class="flex flex-row sm:flex-col justify-center sm:items-center lg:items-start">
        <ul class="list-unstyled mr-19 sm:mr-0 p-0 flex flex-col sm:flex-row" style="margin-bottom: 0px;">
          <li class="sm:mr-10 md:mr-20 lg:mr-27" style="margin-bottom: 0px;">
            <a href="https://www.stanford.edu" class="text-white no-underline hocus:underline hocus:text-white" style="font-size: 0.75rem; font-weight: 600;">
              Stanford Home<span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li class="sm:mr-10 md:mr-20 lg:mr-27" style="margin-bottom: 0px;">
            <a href="https://visit.stanford.edu/plan/" class="text-white no-underline hocus:underline hocus:text-white" style="font-size: 0.75rem; font-weight: 600;">
              Maps & Directions<span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li class="sm:mr-10 md:mr-20 lg:mr-27" style="margin-bottom: 0px;">
            <a href="https://www.stanford.edu/search/" class="text-white no-underline hocus:underline hocus:text-white" style="font-size: 0.75rem; font-weight: 600;">
              Search Stanford<span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li style="margin-bottom: 0px;">
            <a href="https://emergency.stanford.edu" class="text-white no-underline hocus:underline hocus:text-white" style="font-size: 0.75rem; font-weight: 600;">
              Emergency Info<span class="sr-only">(link is external)</span>
            </a>
          </li>
        </ul>
        <ul class="list-unstyled ml-19 sm:ml-0 p-0 text-sm flex flex-col sm:flex-row sm:link-regular" style="margin-bottom: 12px;">
          <li class="sm:mr-10 md:mr-20 lg:mr-27" style="margin-bottom: 8px;">
            <a href="https://www.stanford.edu/site/terms/" title="Terms of use for sites" class="text-white no-underline hocus:underline hocus:text-white" style="font-size: 0.75rem">
              Terms of Use<span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li class="sm:mr-10 md:mr-20 lg:mr-27" style="margin-bottom: 8px;">
            <a href="https://www.stanford.edu/site/privacy/" title="Privacy and cookie policy" class="text-white no-underline hocus:underline hocus:text-white" style="font-size: 0.75rem">
              Privacy<span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li class="sm:mr-10 md:mr-20 lg:mr-27" style="margin-bottom: 8px;">
            <a href="https://uit.stanford.edu/security/copyright-infringement" title="Report alleged copyright infringement" class="text-white no-underline hocus:underline hocus:text-white" style="font-size: 0.75rem">
              Copyright<span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li class="sm:mr-10 md:mr-20 lg:mr-27" style="margin-bottom: 8px;">
            <a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4" title="Ownership and use of Stanford trademarks and images" class="text-white no-underline hocus:underline hocus:text-white" style="font-size: 0.75rem">
              Trademarks<span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li class="sm:mr-10 md:mr-20 lg:mr-27" style="margin-bottom: 8px;">
            <a href="https://studentservices.stanford.edu/more-resources/student-policies/non-academic/non-discrimination" title="Non-discrimination policy" class="text-white no-underline hocus:underline hocus:text-white" style="font-size: 0.75rem">
              Non-Discrimination<span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li style="margin-bottom: 8px;">
            <a href="https://www.stanford.edu/site/accessibility" title="Report web accessibility issues" class="text-white no-underline hocus:underline hocus:text-white" style="font-size: 0.75rem">
              Accessibility<span class="sr-only">(link is external)</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="text-center lg:text-left" style="font-size: 0.75rem">
        <span class="whitespace-no-wrap">© Stanford University.</span><span class="whitespace-no-wrap"> </span>&nbsp; Stanford, California 94305.
      </div>
    </div>
  </div>
</footer>
