.md-content a:hover {
  color: #ff5722; /* Change hover color */
}

.md-header-nav__button img {
    height: 100px;  /* Adjust based on your desired logo size */
    width: auto;   /* Maintain aspect ratio */
}
.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}
.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: auto;
    width: 10rem;
}

.md-typeset-color {
    color: blue;
}

.md-banner {
    background-color: #8C1515;
    color: #ffffff;
    display: table;
    width: 100%; 
    margin-top: 0px;
    height: 30px;
  }

.md-header__title {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: normal; /* Ensures the font is not bold */
  }
  