@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@300;400;700&family=Source+Sans+3:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Source+Serif+4:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@font-face {
  font-family: "Stanford";

  src: url("https://www-media.stanford.edu/assets/fonts/stanford.woff") format("woff"), url("https://www-media.stanford.edu/assets/fonts/stanford.ttf") format("truetype");

  font-weight: 300;

  font-display: swap;
}

/*@tailwind base; */

.centered-container, .cc{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px){
  .centered-container, .cc{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 768px){
  .centered-container, .cc{
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 992px){
  .centered-container, .cc{
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 1200px){
  .centered-container, .cc{
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 1500px){
  .centered-container, .cc{
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media print{
}

@media only screen and (min-width: 1700px){
  .centered-container, .cc{
    padding-left: calc((100% - 1500px)/2);
    padding-right: calc((100% - 1500px)/2);
  }
}

.centered-container .centered-container, .centered-container .cc, .cc .centered-container, .cc .cc{
  padding-left: 0;
  padding-right: 0;
}

.list-unstyled{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.logo{
  display: inline-block;
  font-family: Stanford, "Source Serif Pro", Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
  line-height: 0.75;
  text-decoration: none;
  text-transform: none;
  transform: translateZ(0);
  font-style: normal;
  font-variant: normal;
  letter-spacing: 0;
  color: #8C1515;
  font-feature-settings: "liga" 1;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo:focus{
  color: #8C1515;
}

.logo:hover{
  color: #8C1515;
}

.rs-py-1{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px){
  .rs-py-1{
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
  }
}

@media (min-width: 1500px){
  .rs-py-1{
    padding-top: 2.7rem;
    padding-bottom: 2.7rem;
  }
}

.basefont-20{
  font-size: 1.8rem;
}

@media (min-width: 768px){
  .basefont-20{
    font-size: 1.9rem;
  }
}

@media (min-width: 1500px){
  .basefont-20{
    font-size: 2rem;
  }
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.ml-19{
  margin-left: 1.9rem;
}

.mr-19{
  margin-right: 1.9rem;
}

.flex{
  display: flex;
}

.w-full{
  width: 100%;
}

.grow{
  flex-grow: 1;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.bg-cardinal-red{
  --tw-bg-opacity: 1;
  background-color: rgb(140 21 21 / var(--tw-bg-opacity));
}

.p-0{
  padding: 0;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.font-sans{
  font-family: Source Sans Pro, sans-serif;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.no-underline{
  text-decoration-line: none;
}

.hocus\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hocus\:underline:hover{
  text-decoration-line: underline;
}

.hocus\:no-underline:hover{
  text-decoration-line: none;
}

.hocus\:text-white:focus{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hocus\:underline:focus{
  text-decoration-line: underline;
}

.hocus\:no-underline:focus{
  text-decoration-line: none;
}

@media (min-width: 576px){
  .sm\:ml-0{
    margin-left: 0;
  }

  .sm\:mr-0{
    margin-right: 0;
  }

  .sm\:mr-10{
    margin-right: 1rem;
  }

  .sm\:flex-row{
    flex-direction: row;
  }

  .sm\:flex-col{
    flex-direction: column;
  }

  .sm\:items-center{
    align-items: center;
  }

  .sm\:text-center{
    text-align: center;
  }

  .sm\:link-regular a{
    font-weight: 400;
  }
}

@media (min-width: 768px){
  .md\:mr-20{
    margin-right: 2rem;
  }
}

@media (min-width: 992px){
  .lg\:mr-27{
    margin-right: 2.7rem;
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:items-start{
    align-items: flex-start;
  }

  .lg\:pl-45{
    padding-left: 4.5rem;
  }

  .lg\:text-left{
    text-align: left;
  }
}

@media (min-width: 1200px){
  .xl\:pl-50{
    padding-left: 5rem;
  }
}